<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
<meta charset="utf-8" />
<title>Produits</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}">
</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="panel panel-default">
			<div class="panel-heading">Confirmation</div>
			<div class="panel-body">
				<h3 class="error">Vous n'êtes pas autorisé à accéder à cette ressource</h3>
			</div>
		</div>
	</div>
</body>
</html>